@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Tiny5&display=swap');


*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 10px;
    border: 1px solid white ;
    background-color: #b0d7e5;
    display: flex;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif ;
}

nav h2{
    color: white;
    text-shadow: 2px 2px 2px black;
}

nav ul{
    display: flex;
    list-style-type: none;
    transition: color 0.3s ease;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: #E6F1F6;
    border-radius: 9px;
    margin: 2px;
}

nav li a:hover{
    color: white;
    background-color: #3d546d;
    border-radius: 9px;
}

header{
    border: 1px solid white ;
    background-image: url(resources/IMG_9301.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center; 
    padding: 0px;
    height: 230px;
}

main{
    width: 100%;
    height: 100%;
    padding: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    border: 1px solid white ;
    background-color: #F6EFBD;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* ให้เป็นแบบ2 คอลัมน์ */
    gap: 20px; /* ระยะห่างระหว่างกล่อง */
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #e9ecef;
    border-radius: 4px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
}

/* ส่วนนี้ทำให้กล่องแสดงผลแบบ Responsive */
@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr; /* บนจอคอม แสดงเป็น 2*2 บนโทรศัพท์แสดง 1 คอลัมน์ */
    }
}