@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Tiny5&display=swap');
* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    border: 0.1px solid#0000001c;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

nav li a{
    color:black;
    padding: 25px 30px ;
    text-decoration: none;
    
}nav a{
    display: block;
}

nav li a:hover{
    color: white;
    background-color:#78B3CE;
    border-radius:15px;
}

header{
    font-family: "Merriweather Sans", sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 8px rgb(173, 173, 173);
    text-align: center;
    padding:100px;
    background-image: url(resources/IMG_9301.jpg) ;
    background-repeat:no-repeat;
    background-size:cover;
    display: block;
    background-position: center; 
}

form{
    padding: 40px;
    margin: auto;
    line-height: 2.4;
    font-family: "Nunito Sans", sans-serif;
    align-items: center;
}

legend{
    padding: 15px 30px;
    background-color: #78B3CE;
    color: white;
    border-radius: 10px;
}

fieldset{
    border: none;
    margin: auto;
    width: 0px;
    align-items: center;
}

label b{
    color: red;
}

input[type="submit"]{
    background-color: #78B3CE;
    color: white;
    border: 1px solid rgba(28, 129, 184, 0.363);
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
}

input[type="radio"]{
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}
