
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
}

.header{
    display: flex;
    background-color: #b0d7e5;
    padding:2px;
}


.box a{
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
    font-size: 16px;
    display: flex;
    margin: 2.5px;
    text-align: center;
    padding: 20px;
    background-color: #E6F1F6; 
    border-radius: 9px;
    font-weight: bold;
}

.box a:hover{
    color: white;
    background-color: #003B46;
    border-radius: 16px;
    
}


.image-box {
    background-color: #FFA474; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    font-weight: bold;
    color: white;
}

.home{
    display:flex;
    margin-left: 20%;
    justify-content: right;
    
    
}
.home .box-content{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    padding-right: 5%;
    margin-bottom: 2%;
    
}
span{
    color:#b0d7e5 ;
}
.box-content h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.box-content p{
    font-size: 1rem;
}
/**/
.backhome{
    display: flex;
    margin: 2.5px;
    text-align: center;
    padding: 20px;
    background-color: #E6F1F6; 
    border-radius: 9px;
    font-weight: bold;
    
}

.backhome a{
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    display: flex;
    margin: 2.5px;
    text-align: center;
    padding: 20px;
    background-color: #E6F1F6; 
    border-radius: 9px;
    font-weight: bold;
    
}

.backhome a:hover{
    color: white;
    background-color: #003B46;
    border-radius: 16px;

    
}

.box-content h1 span{
    transition: 0.5s;

}
.box-content h1:hover span:nth-child(1){

    margin-left: 40px;
    
}

.box-content h1:hover span{
    color: #f15a09;
    text-shadow: 0 0 10px #f3b08b,
    0 0 20px #f3b08b,
    0 0 40px #f3b08b,
    0 0 80px #f3b08b,
    0 0 120px#f3b08b,
    0 0 160px #f3b08b;
    
}

